.hero-head {
    width: 900px;
    font-size: 4em;
    color: white;
}

.hero-section {
    width: auto;
    height: 100vh;
    background-image: url("img/pestprevention.jpg");
    background-size: cover;
    background-position: left;    
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.8);
}